In [1]:
!pip3 install requests

Requirement already satisfied: requests in /Users/umac/opt/anaconda3/lib/python3.8/site-packages (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/umac/opt/anaconda3/lib/python3.8/site-packages (from requests) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/umac/opt/anaconda3/lib/python3.8/site-packages (from requests) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /Users/umac/opt/anaconda3/lib/python3.8/site-packages (from requests) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/umac/opt/anaconda3/lib/python3.8/site-packages (from requests) (1.26.4)

In [437]:
import requests
import pandas as pd
import re
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

API_KEY = "d70f5128bf847e1e"
count = 15

URL = 'http://webservice.recruit.co.jp/hotpepper/gourmet/v1/'
body = {
    'key':API_KEY,
    'keyword':'心斎橋駅',
    'range':2,
    'format':'json',
    'count':count
}

#API情報のすべて
response = requests.get(URL,body).json()
#ショップ数
shop_count = response['results']['results_available']
#shop情報すべて
df_shop = pd.DataFrame(response['results']['shop'])
# df_shop.info()

In [438]:
shop_capacity = []
for i in range(0,shop_count - 1):
    shop_info = {}
    #総席数：shop_capacity
    shop_info['shop_capacity'] = shop[i]['capacity']
    
    #営業時間：open}
#     shop_info['open'] = shop[i]['open']
    s = shop[i]['open']
    match = re.findall(r'\d+', s)
    #00:00の場合24:00にする
    if match[2] == "0":
        match[2] = "00"
        
    for a in range(0,4):
        if len(match[a]) == 1:
            match[a] = f"0{match[a]}"
    shop_info['OpenTime'] = f"{match[0]}:{match[1]}"
    shop_info['CloseTime'] = f"{match[2]}:{match[3]}"

    #単価(平均予算ver)：budget_average
    pre_budget_average = df_shop['budget'][i]['average'].split('円')[0].replace(",","")
    shop_info['budget_average'] = re.findall(r'\d+',pre_budget_average)[0]
    
    shop_capacity.append(shop_info)

df_shop_alt = pd.DataFrame(shop_capacity)

In [439]:
df_shop_alt['elapsed_time'] = (pd.to_datetime(df_shop_alt['CloseTime']) - pd.to_datetime(df_shop_alt['OpenTime']))/ timedelta(hours=1)
df_shop_alt

    shop_capacity OpenTime CloseTime budget_average  elapsed_time
0              30    00:00     00:00           5000          0.00
1              50    11:00     23:00           3000         12.00
2              28    17:30     23:00           3800          5.50
3             100    11:00     23:00           3000         12.00
4              28    12:00     23:00           1000         11.00
5              34    11:30     14:30           3000          3.00
6              40    18:00     12:00           3000         -6.00
7              52    11:00     15:00           3000          4.00
8              10    18:00     03:00           2000        -15.00
9              14    11:00     20:15           2000          9.25
10             25    11:30     15:30            800          4.00
11             96    11:00     14:30           4800          3.50
12             40    11:30     21:00            900          9.50
13             50    13:00     04:00           1500         -9.00
14             16    18:00     00:00           2500        -18.00

In [441]:
#24時間表記へ書き換え
n_24 = 0
for add24 in df_shop_alt['elapsed_time']:
    if add24 <= 0: 
        df_shop_alt['elapsed_time'][n_24] = df_shop_alt['elapsed_time'][n_24] + 24
    n_24 += 1

In [442]:
df_shop_alt

    shop_capacity OpenTime CloseTime budget_average  elapsed_time
0              30    00:00     00:00           5000         24.00
1              50    11:00     23:00           3000         12.00
2              28    17:30     23:00           3800          5.50
3             100    11:00     23:00           3000         12.00
4              28    12:00     23:00           1000         11.00
5              34    11:30     14:30           3000          3.00
6              40    18:00     12:00           3000         18.00
7              52    11:00     15:00           3000          4.00
8              10    18:00     03:00           2000          9.00
9              14    11:00     20:15           2000          9.25
10             25    11:30     15:30            800          4.00
11             96    11:00     14:30           4800          3.50
12             40    11:30     21:00            900          9.50
13             50    13:00     04:00           1500         15.00
14             16    18:00     00:00           2500          6.00

In [443]:
df_shop_alt['elapsed_time']

0     24.00
1     12.00
2      5.50
3     12.00
4     11.00
5      3.00
6     18.00
7      4.00
8      9.00
9      9.25
10     4.00
11     3.50
12     9.50
13    15.00
14     6.00
Name: elapsed_time, dtype: float64

In [ ]:
###何がしたいか？（ゴール
#1:店の売り上げ（利益）を知りたい
#2:赤字にならないための単価設定をしたい（来店人数固定ver
#3:赤字にならないための来店人数を知りたい（単価固定ver


###各パラメータを用意する
##固定---------------
#総席数：shop_capacity   
#家賃_Rent
#人件費_Labor
#水道光熱費_Utility
#消耗品_Consumption
#営業時間：open
#時給_HourlyPay

##変動---------------
#単価(平均予算ver)：budget_average


##調整---------------
#来店人数_CustomerNumber
#原価(25～30%程度)_Material
#滞在時間_StayTime



###目的変数-----------
##売り上げ
#単価 * 総席数

##経費
#(家賃 + 人件費 + 水道光熱費 + 消耗品) + (原価)

##利益
#売り上げ - 経費


###補助計算----------------
##回転率(飲食店の平均で65％から70％程度)
#お客様の数 ÷ 席数

##人件費
#人数 * 時給 * 営業時間

[123, 456, 789]

In [163]:
import re

s = "123abc"

match = re.match(r'\d+', s)

if match:
    num = int(match.group())
    print("Found number:", num)
else:
    print("No number found.")

Found number: 123

In [164]:
match

In [172]:
import re

string = "123abc456def"
match = re.search(r'\d+', string)

if match:
    first_number = int(match.group())
    print("最初の数字は: ", first_number)
else:
    print("数字が見つかりませんでした")

最初の数字は:  123